{
  "@type": "PostgreSql",
  "host": "postgres",
  "port": 5432,
  "database": "stalwart",
  "authUsername": "stalwart",
  "authSecret": {
    "@type": "EnvironmentVariable",
    "variableName": "STALWART_DB_PASSWORD"
  },
  "useTls": false,
  "poolMaxConnections": 10
}
