[defaults]
inventory = inventory/hosts.yml
roles_path = roles
action_plugins = plugins/action
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
duplicate_dict_key = error

[ssh_connection]
pipelining = True
